<p id="notice"><%= notice %></p>

<h1>Listing Productos</h1>

<table>
  <thead>
    <tr>
      <th>Artesano</th>
      <th>Artesano</th>
      <th>Nombre</th>
      <th>Desc</th>
      <th>Precio</th>
      <th>Area</th>
      <th>Tipo</th>
      <th>Material</th>
      <th>Color</th>
      <th>Foto1</th>
      <th>Foto2</th>
      <th>Foto3</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.artesano %></td>
        <td><%= producto.artesano %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.desc %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.area %></td>
        <td><%= producto.tipo %></td>
        <td><%= producto.material %></td>
        <td><%= producto.color %></td>
        <td><%= producto.foto1 %></td>
        <td><%= producto.foto2 %></td>
        <td><%= producto.foto3 %></td>
        <td><%= link_to 'Show', producto %></td>
        <td><%= link_to 'Edit', edit_producto_path(producto) %></td>
        <td><%= link_to 'Destroy', producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto', new_producto_path %>
