<p id="notice"><%= notice %></p>


<p>
  <strong>Artesano:</strong>
  <%= @producto.artesano %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @producto.desc %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Area:</strong>
  <%= @producto.area %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @producto.tipo %>
</p>

<p>
  <strong>Material:</strong>
  <%= @producto.material %>
</p>

<p>
  <strong>Color:</strong>
  <%= @producto.color %>
</p>

<p>
  <strong>Foto1:</strong>
  <%= @producto.foto1 %>
</p>

<p>
  <strong>Foto2:</strong>
  <%= @producto.foto2 %>
</p>

<p>
  <strong>Foto3:</strong>
  <%= @producto.foto3 %>
</p>


<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
